h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
form input,select{
    width:400px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

input,select:focus{
    outline: none;
}

button:hover{
    background-color: aqua;
}